@import url(https://fonts.googleapis.com/css?family=Lato:300italic,700italic,300,700);

body {
  font-family: Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding-top: 1em;
}

div#adsense {
  margin: 0 auto;
  width: 320px;
}

.tweet, .info, footer {
  text-align: right;
}

.tweet {
  float: right;
}

nav > ol {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

nav > ol > li {
  display: inline;
  text-transform: capitalize;
}

header {
  clear: both;
}

h1, h2, h3, h4, h5, h6, ul#contents > li {
  text-transform: capitalize;
}

h1#home_title {
  text-transform: none;
}

img {
  max-width: 100%;
}

@media screen and (min-width: 480px) {
  body {
    padding-left: 1em;
    padding-right: 1em;
  }
}
