.icon-bar {
  background-color: #428BCA;
}

.jumbotron {
  color: #FFF;
  text-shadow: 2px 2px 3px #000;
  background-color: #000040;
  background-image: url(/img/yun_2132.jpg);
  background-repeat:no-repeat;
  background-position:100% 0;
  background-size: cover;
}

.jumbotron time {
  display: block;
  text-align: right;
  font-size: small;
}

body {
  padding-top: 50px;
}

footer {
  text-align: right;
}

section {
  margin: 0 0 20px;
}

.twitter-timeline {
  vertical-align: top;
  margin: 0 20px 20px 0;
}

.social-buttons {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.social-buttons li {
	float: left;
	margin: 0 5px 0 0;
	padding: 0;
}

.social-buttons li div {
	display: inline;
}

.social-buttons:before,
.social-buttons:after {
	content: " ";
	display: table;
}

.social-buttons:after {
	clear: both;
}

.social-buttons {
	*zoom: 1;
}
