@charset "UTF-8";
/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
  margin: 0;
  padding: 0; }

body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #111;
  background-color: #fdfdfd;
  -webkit-text-size-adjust: 100%; }

/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure, section, fieldset {
  margin-bottom: 20px; }

img {
  max-width: 100%;
  vertical-align: middle; }

ul, ol {
  margin-left: 20px; }

li > ul,
li > ol {
  margin-bottom: 0; }

h1, h2, h3, h4, h5, h6 {
  font-weight: normal; }

a {
  color: #2a7ae2;
  text-decoration: none; }
  a:visited {
    color: #1756a9; }
  a:hover {
    text-decoration: underline; }

table.border {
  border-collapse: collapse; }
  table.border th, table.border td {
    border: 1px solid #828282;
    padding: 5px; }

/* trainer-ticket-time */
.ttt th, .ttt td {
  text-align: center; }
.ttt .group-a {
  background-color: #fce4ec; }
.ttt .group-b {
  background-color: #e3f2fd; }
.ttt .group-c {
  background-color: #fffde7; }
.ttt .group-d {
  background-color: #e8f5e9; }

.wrapper {
  max-width: 920px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 20px;
  padding-left: 20px; }
  @media screen and (max-width: 768px) {
    .wrapper {
      max-width: 946px;
      padding-right: 7px;
      padding-left: 7px; } }

.wrapper:after {
  content: "";
  display: table;
  clear: both; }

.icon > svg {
  display: inline-block;
  width: 16px;
  height: 16px;
  vertical-align: middle; }
  .icon > svg path {
    fill: #828282; }

/**
 * Site header
 */
.site-header {
  color: white;
  background-color: #081c40;
  min-height: 56px;
  background-image: url(../img/l_091_256.png);
  background-size: cover;
  background-position: 100% 50%;
  background-repeat: no-repeat;
  position: relative; }
  .site-header a:hover {
    text-decoration: none;
    text-shadow: 0px 0px 15px #6DF, 0px 0px 10px #6DF, 0px 0px 5px #FFF; }

.site-title {
  font-size: 32px;
  line-height: 56px;
  letter-spacing: 3px;
  margin-bottom: 0;
  float: left;
  font-family: 'Orbitron', sans-serif;
  text-shadow: 2px 2px 5px #000; }
  .site-title, .site-title:hover, .site-title:visited {
    color: white; }
  @media screen and (max-width: 768px) {
    .site-title {
      font-size: 24px; } }

.site-nav {
  float: right;
  line-height: 56px; }
  .site-nav .menu-icon {
    display: none; }
  .site-nav .page-link {
    display: inline-block;
    color: white;
    text-shadow: 0px 0px 10px #024, 0px 0px 5px #024;
    padding: 0 10px; }
  @media screen and (max-width: 768px) {
    .site-nav {
      position: absolute;
      top: 0;
      right: 0;
      z-index: 9999; }
      .site-nav .menu-icon {
        display: block;
        float: right;
        width: 56px;
        height: 56px;
        line-height: 0;
        text-align: center;
        background-color: rgba(0, 0, 0, 0.5); }
        .site-nav .menu-icon > svg {
          margin-top: 18px;
          width: 24px;
          height: 20px; }
          .site-nav .menu-icon > svg path {
            fill: #FFF; }
      .site-nav .trigger {
        clear: both;
        display: none; }
      .site-nav:hover .trigger {
        display: block;
        border-color: #828282;
        border-style: solid;
        border-width: 0 0 1px 1px;
        background-color: #fdfdfd;
        box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.3); }
      .site-nav .page-link {
        display: block;
        margin: 0 5px !important;
        padding: 5px 10px;
        line-height: 48px;
        color: #111;
        text-shadow: none;
        background-color: #fdfdfd; }
        .site-nav .page-link:not(:first-child) {
          border-top: 1px #e8e8e8 solid; }
      .site-nav a:hover {
        text-shadow: none; } }

.site-footer {
  border-top: 1px solid #e8e8e8;
  padding: 20px 0;
  text-align: center; }

.page-content {
  padding: 20px 0; }

.page-heading {
  font-size: 20px; }

.post-list {
  margin-left: 0;
  list-style: none; }
  .post-list > li {
    margin-bottom: 20px; }

.post-meta {
  font-size: 14px;
  color: #828282; }

.post-link {
  display: block;
  font-size: 24px; }

/**
 * Posts
 */
.post-header {
  margin-bottom: 20px; }

.post-title {
  font-size: 42px;
  letter-spacing: -1px;
  line-height: 1; }
  @media screen and (max-width: 768px) {
    .post-title {
      font-size: 28px; } }

.post-content {
  margin-bottom: 20px; }
  .post-content h2 {
    font-size: 32px; }
    @media screen and (max-width: 768px) {
      .post-content h2 {
        font-size: 22px; } }
  .post-content h3 {
    font-size: 26px; }
    @media screen and (max-width: 768px) {
      .post-content h3 {
        font-size: 18px; } }
  .post-content h4 {
    font-size: 20px; }
    @media screen and (max-width: 768px) {
      .post-content h4 {
        font-size: 14px; } }

.info, .info-small {
  color: #555;
  background-color: #fcf8e3;
  border: 1px solid #f5e79e; }

.info {
  padding: 20px;
  line-height: 1.3em; }
  .info :first-child {
    margin-top: 0; }
  @media screen and (max-width: 768px) {
    .info {
      padding: 7px; } }
  .info.error {
    color: #fff;
    background-color: #e70048;
    border-color: #e70048;
    font-weight: bold; }
    .info.error .close {
      color: #fff;
      opacity: 1; }
  .info h4 {
    margin: 20px 0;
    padding-bottom: 3px;
    font-weight: normal;
    border-color: #f5e79e;
    border-style: solid;
    border-width: 0 0 1px 0; }
  .info section {
    margin: 0 0 0 1em; }
  .info ul {
    margin: 7px 0;
    padding-left: 2em; }
  .info p {
    margin-top: 7px;
    margin-bottom: 0; }

.info-small {
  padding: 4px 12px; }

.well,
blockquote {
  padding: 20px;
  background-color: #f5faff;
  border: 1px solid #a9d4ff; }
  @media screen and (max-width: 768px) {
    .well,
    blockquote {
      padding: 7px; } }
  .well :first-child,
  blockquote :first-child {
    margin-top: 0; }
  .well :last-child,
  blockquote :last-child {
    margin-bottom: 0; }

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto; }

/*
* モバマス振り分けpt計算機用スタイル
*/
div[ng-app="mobamasStatusPt"] input {
  display: inline-block;
  margin: 0;
  font-size: 120%;
  line-height: 30px;
  width: 3em;
  text-align: right; }
div[ng-app="mobamasStatusPt"] button {
  display: inline-block;
  margin: 0;
  font-size: 120%;
  padding: 4px 12px;
  line-height: 40px; }
div[ng-app="mobamasStatusPt"] dt {
  margin: 7px 0;
  border-bottom: solid 1px #a9d4ff; }
div[ng-app="mobamasStatusPt"] dd {
  margin-left: 7px; }
div[ng-app="mobamasStatusPt"] p.em, div[ng-app="mobamasStatusPt"] em {
  font-size: 150%;
  font-style: normal; }

/*
 * トップページ用スタイル
 */
.top-page, .top-page body {
  width: 100%;
  height: 100%; }

.top-page body {
  color: white;
  background-color: #081c40;
  background-image: url(../img/l_091_256.png);
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: fixed; }
  .top-page body .top-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -160px;
    margin-left: -160px;
    width: 300px;
    height: 300px;
    padding: 10px; }
  .top-page body h1 {
    color: white;
    border-bottom: 1px #FFF solid;
    padding: 10px;
    font-size: 18px;
    letter-spacing: 5px;
    font-family: 'Orbitron', sans-serif;
    text-shadow: 0px 0px 10px #6DF, 0px 0px 5px #6DF; }
  .top-page body a {
    color: white;
    text-shadow: 0px 0px 10px #024, 0px 0px 5px #024; }
  .top-page body a:hover {
    text-decoration: none;
    text-shadow: 0px 0px 15px #6DF, 0px 0px 10px #6DF, 0px 0px 5px #FFF; }
  .top-page body nav a {
    display: block;
    margin: 0 auto;
    padding: 10px;
    text-align: right; }
    .top-page body nav a:not(:first-child) {
      /* PC用にも引き継がれるので全方向設定 */
      border-style: solid;
      border-color: #FFF;
      border-width: 1px 0 0 0; }
  .top-page body path {
    fill: white; }
  .top-page body footer {
    position: absolute;
    right: 10px;
    bottom: 10px; }
    .top-page body footer a {
      display: inline-block;
      padding: 0 10px; }
      .top-page body footer a:not(:first-child) {
        border-left: 1px #FFF solid;
        padding: 0 11px; }

/*
 * PC用
 */
@media screen and (min-width: 760px) {
  .top-page body .top-wrapper {
    margin-top: -250px;
    margin-left: -350px;
    width: 640px;
    height: 440px;
    padding: 30px; }
  .top-page body .top-wrapper-h1 {
    position: relative;
    height: 250px; }
  .top-page body h1 {
    position: absolute;
    bottom: 0;
    width: 640px;
    margin: 0;
    padding: 0 0 5px 0;
    font-size: 32px;
    text-align: center;
    text-shadow: 0px 0px 15px #6DF, 0px 0px 10px #6DF, 0px 0px 5px #FFF; }
  .top-page body nav {
    padding-top: 10px;
    text-align: center; }
    .top-page body nav a {
      display: inline-block;
      padding: 0 10px; }
      .top-page body nav a:not(:first-child) {
        border-width: 0 0 0 1px;
        padding: 0 11px; }
  .top-page body footer {
    right: 30px;
    bottom: 30px; } }
