<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>デレステ楽曲検索</title>
    <link href='http://fonts.googleapis.com/css?family=Orbitron:500' rel='stylesheet' type='text/css'>
    <link type="text/css" rel="stylesheet" href="/assets/main-206ddb3503187305cc6c64394f189e456d02cea91a6b6869dda59cb163d08862.css">
    <link rel="canonical" href="http://saasan.github.io/imas/sl-stage-songs-search/">
    <link rel="alternate" type="application/rss+xml" title="saasan.github.io" href="http://saasan.github.io/feed.xml" />
    <link rel="apple-touch-icon" href="http://saasan.github.io/img/s2works_favicon.png">
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script async src="/js/init.js"></script>
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@saasan">
    <meta property="og:url" content="http://saasan.github.io/imas/sl-stage-songs-search/">
    <meta property="og:title" content="デレステ楽曲検索">
    <meta property="og:description" content="アイドルマスター シンデレラガールズ スターライトステージ (デレステ) の楽曲一覧から、消費スタミナ、獲得経験値、親愛度などで曲を探せます。">
    <meta property="og:image" content="http://saasan.github.io/img/s2works_favicon.png">
    <script type="application/ld+json">
      {
          "@context": "http://schema.org/",
          "@type": "Person",
          "name": "saasan",
          "sameAs": [
            "https://twitter.com/saasan",
            "https://github.com/saasan"
          ]
        }
    </script>
    <script type="application/ld+json">
      {
          "@context": "http://schema.org",
          "@type": "Article",
          "name": "デレステ楽曲検索",
          "datePublished": "2015-11-16T20:42:08+09:00",
          "headline": "アイドルマスター シンデレラガールズ スターライトステージ (デレステ) の楽曲一覧から、消費スタミナ、獲得経験値、親愛度などで曲を探せます。",
          "image": "http://saasan.github.io/img/s2works_favicon.png",
          "url": "http://saasan.github.io/imas/sl-stage-songs-search/",
          "publisher" : {
            "@type": "Person",
            "name": "saasan"
          }
        }
    </script>
  </head>
  <body itemscope itemtype="http://schema.org/WebPage">
    <header class="site-header">
      <div class="wrapper">
        <a class="site-title" href="/">saasan.github.io</a>
        <nav class="site-nav">
          <div class="site-nav-contents">
            <ul>
              <li><a href="/blog/">Blog</a></li>
              <li><a href="/imas/">アイマス</a></li>
              <li><a href="/script/pixiv-tags.html">pixiv Tags</a></li>
              <li><a href="/software/pso2utility.html">PSO2Utility</a></li>
            </ul>
          </div>
        </nav>
      </div>
    </header>
    <div class="wrapper">
      <!-- saasan.github.io レスポンシブ -->
      <ins class="adsbygoogle"
       style="display:block"
       data-ad-client="ca-pub-0141905477316976"
       data-ad-slot="5633684976"
       data-ad-format="auto"></ins>
    </div>
    <div class="page-content">
      <div class="wrapper">
        <div class="post" itemprop="mainContentOfPage" itemscope itemtype="http://schema.org/WebPageElement">
          <header class="post-header">
            <h1 class="post-title">デレステ楽曲検索</h1>
            <div class="post-meta">
              <time datetime="2015-11-16T20:42:08+09:00" itemprop="dateModified">2015/11/16</time>
            </div>
          </header>
          <article class="post-content">
            <div ng-app="slStageSongsSearch" ng-controller="MainController">
              <section class="info">
                <p>
                  <a href="http://cinderella.idolmaster.jp/sl-stage/" target="_blank">アイドルマスター シンデレラガールズ スターライトステージ</a>
                  (デレステ) の楽曲一覧から、消費スタミナ、獲得経験値、親愛度などで曲を探せます。
    </p>
                <p>
                  「レベルアップに必要なスタミナが知りたい」「親愛度MAXに必要なスタミナが知りたい」「残っているスタミナを使い切れる曲を探したい」
      といった用途にどうぞ。
    </p>
                <h4>2015/11/17 更新</h4>
                <ul>
                  <li>「Trancing Pulse」追加</li>
                </ul>
                <h4>2015/11/16 更新</h4>
                <ul>
                  <li>「ヴィーナスシンドローム」、「Romantic Now」が抜けていたので修正</li>
                  <li>楽曲データの読み込み方法を変更</li>
                </ul>
                <noscript>
                  <p>JavaScriptを有効にして下さい。</p>
                </noscript>
              </section>
              <section class="error" ng-show="errorMessage">
                <p ng-bind="errorMessage"></p>
              </section>
              <section>
                <fieldset>
                  <legend>検索</legend>
                  <label>
                    難易度：
        <select ng-model="$storage.songFilterDifficulty" ng-options="hash.value as hash.label for hash in songDifficultyList">
                      <option value="">-</option>
                    </select>
                  </label>
                  <label>
                    タイプ：
        <select ng-model="$storage.songFilterType" ng-options="hash.value as hash.label for hash in songTypeList">
                      <option value="">-</option>
                    </select>
                  </label>
                  <label>
                    楽曲Lv：
        <select ng-model="$storage.songFilterLevel" ng-options="value for value in songLvList">
                      <option value="">-</option>
                    </select>
                  </label>
                  <label>
                    スタミナ：
        <select ng-model="$storage.songFilterStamina" ng-options="value for value in songStaminaList">
                      <option value="">-</option>
                    </select>
                  </label>
                  <label>
                    経験値：
        <select ng-model="$storage.songFilterExp" ng-options="value for value in songExpList">
                      <option value="">-</option>
                    </select>
                  </label>
                  <label>
                    親愛度：
        <select ng-model="$storage.songFilterAffection" ng-options="value for value in songAffectionList">
                      <option value="">-</option>
                    </select>
                  </label>
                </fieldset>
                <fieldset>
                  <legend>表示</legend>
                  <label>
                    <input type="checkbox" ng-model="$storage.showSongDifficulty"> 難易度
      </label>
                  <label>
                    <input type="checkbox" ng-model="$storage.showSongType"> タイプ
      </label>
                  <label>
                    <input type="checkbox" ng-model="$storage.showSongLevel"> 楽曲Lv
      </label>
                  <label>
                    <input type="checkbox" ng-model="$storage.showSongStamina"> スタミナ
      </label>
                  <label>
                    <input type="checkbox" ng-model="$storage.showSongExp"> 経験値
      </label>
                  <label>
                    <input type="checkbox" ng-model="$storage.showSongAffection"> 親愛度
      </label>
                </fieldset>
              </section>
              <section>
                <table>
                  <thead>
                    <tr>
                      <th>タイトル</th>
                      <th ng-show="$storage.showSongDifficulty">難易度</th>
                      <th ng-show="$storage.showSongType">タイプ</th>
                      <th ng-show="$storage.showSongLevel">楽曲Lv</th>
                      <th ng-show="$storage.showSongStamina">スタミナ</th>
                      <th ng-show="$storage.showSongExp">経験値</th>
                      <th ng-show="$storage.showSongAffection">親愛度</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr ng-repeat="song in songs | filter: songFilter">
                      <td data-label="タイトル" ng-bind="song.title"></td>
                      <td data-label="難易度" ng-show="$storage.showSongDifficulty" ng-bind="songDifficulty[song.difficulty]"></td>
                      <td data-label="タイプ" ng-show="$storage.showSongType" ng-bind="songType[song.type]"></td>
                      <td data-label="楽曲Lv" ng-show="$storage.showSongLevel" ng-bind="song.lv"></td>
                      <td data-label="スタミナ" ng-show="$storage.showSongStamina" ng-bind="songLv[song.lv].stamina"></td>
                      <td data-label="経験値" ng-show="$storage.showSongExp" ng-bind="songLv[song.lv].exp"></td>
                      <td data-label="親愛度" ng-show="$storage.showSongAffection" ng-bind="songLv[song.lv].affection"></td>
                    </tr>
                  </tbody>
                </table>
              </section>
              <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
              <script src="/js/ngStorage.min.js"></script>
              <script src="./sl-stage-songs-search.js"></script>
            </div>
          </article>
        </div>
      </div>
    </div>
    <div class="wrapper">
      <!-- saasan.github.io レスポンシブ -->
      <ins class="adsbygoogle"
       style="display:block"
       data-ad-client="ca-pub-0141905477316976"
       data-ad-slot="5633684976"
       data-ad-format="auto"></ins>
    </div>
    <footer class="site-footer">
      <div class="wrapper">
        <nav>
          <ul>
            <li><a href="/blog/">Blog</a></li>
            <li><a href="/imas/">アイマス</a></li>
            <li><a href="/script/pixiv-tags.html">pixiv Tags</a></li>
            <li><a href="/software/pso2utility.html">PSO2Utility</a></li>
          </ul>
          <a href="https://twitter.com/saasan" target="_blank" class="twitter-username">
            saasan
  </a>
          <a href="/feed.xml" target="_blank" class="rss">RSS</a>
        </nav>
      </div>
    </footer>
  </body>
</html>