@import "normalize";
@import "font-awesome";

$body-bg:               #fff !default;
$text-color:            #333 !default;
$link-color:            #08c !default;

$brand-default-color:   #333 !default;
$brand-default-bg:      #f5f5f5 !default;
$brand-primary-color:   #fff !default;
$brand-primary-bg:      #0078e7 !default;
$brand-success-color:   #fff !default;
$brand-success-bg:      #00d46b !default;
$brand-warning-color:   #fff !default;
$brand-warning-bg:      #ffc100 !default;
$brand-danger-color:    #fff !default;
$brand-danger-bg:       #e70048 !default;
$brand-alert-color:     #555 !default;
$brand-alert-bg:        #fcf8e3 !default;
$brand-alert-border:    #fbeed5 !default;

/*
 * Google Colors
 * $brand-primary-bg:      #4285f4 !default;
 * $brand-success-bg:      #0f9d58 !default;
 * $brand-warning-bg:      #f4b400 !default;
 * $brand-danger-bg:       #db4437 !default;
*/

a {
  color: $link-color;
  text-decoration: none;
}

p {
  margin: 0 0 7px;
}

section {
  margin: 7px;
}

.btn {
  display: inline-block;
  padding: 4px 12px;
  margin-bottom: 0;
  line-height: 30px;
  color: $brand-default-color;
  text-align: center;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  vertical-align: middle;
  cursor: pointer;
  background-color: $brand-default-bg;
  border: 1px solid #ccc;
  border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
}

.btn-primary,
.btn-success,
.btn-warning,
.btn-danger,
.btn-error {
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

.btn-primary {
  color: $brand-primary-color;
  background-color: $brand-primary-bg;
}

.btn-success {
  color: $brand-success-color;
  background-color: $brand-success-bg;
}

.btn-warning {
  color: $brand-warning-color;
  background-color: $brand-warning-bg;
}

.btn-danger,
.btn-error {
  color: $brand-danger-color;
  background-color: $brand-danger-bg;
}

.btn-block {
  display: block;
  width: 100%;
  padding-right: 0;
  padding-left: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.alert .close {
  position: relative;
  top: -2px;
  right: -21px;
  line-height: 20px;
}

button.close {
  padding: 0;
  cursor: pointer;
  background: transparent;
  border: 0;
}

.close {
  float: right;
  font-size: 20px;
  font-weight: bold;
  line-height: 20px;
  color: #000;
  text-shadow: 0 1px 0 #ffffff;
  opacity: .2;
}

.alert {
  padding: 8px 35px 8px 14px;
  margin-bottom: 20px;
  text-shadow: 0 1px 0 rgba(255,255,255,0.5);
  background-color: $brand-alert-bg;
  border: 1px solid $brand-alert-border;
}

.alert,
.alert h4 {
  color: $brand-alert-color;
}

.alert-block {
  padding-top: 14px;
  padding-bottom: 14px;
}

.alert-block > :last-child  {
  margin-bottom: 0;
}

.alert-danger,
.alert-error {
  color: $brand-danger-color;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: $brand-danger-bg;
  border-color: $brand-danger-bg;
  font-weight: bold;
}

.alert-danger .close,
.alert-error .close {
  color: $brand-danger-color;
  opacity: 1;
}

.well {
  min-height: 20px;
  padding: 19px;
  background-color: #f5f5f5;
  border: 1px solid #e3e3e3;
}

.well-small {
  padding: 9px;
}

label {
  display: block;
  margin-bottom: 7px;
}

label,
select,
button,
input[type="button"],
input[type="reset"],
input[type="submit"],
input[type="radio"],
input[type="checkbox"] {
  cursor: pointer;
}

fieldset {
  padding: 0;
  margin: 0;
  border: 0;
}








nav,
div.alert,
.btn-block + .btn-block,
.dojo,
.well {
  margin-top: 7px;
}

.well {
  line-height: 20px;
  vertical-align: middle;
}

img,
iframe {
  vertical-align: middle;
}

.dojo {
  position: relative;
  width: 100%;
}

.dojo-link {
  position: absolute;
  left: 0;
  right: 40px;
  text-align: left;
  font-weight: bold;
  overflow: hidden;
  white-space: nowrap;
}

.hide-dojo {
  width: 40px;
  padding: 4px 0px;
  float: right;
}

.dojo:after,
.clearfix:after {
  content: "";
  clear: both;
  display: block;
}

#adsense {
  margin: 0 auto;
  width: 320px;
}

#info,
#alertContainer {
  display: none;
}

#alertContainer {
  position: fixed;
  z-index: 100;
  bottom: 7px;
  width:100%;
}

#alert {
  margin: 0 7px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
     -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

#sectionConfig {
  display: none;
  position: fixed;
  margin: 0;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10;
}

#sectionInnerConfig {
  position: fixed;
  z-index: 20;
  top: 0;
  left: 0;
  right: 0;
  width: auto;
  padding: 7px;
  background-color: $body-bg;
  border: 1px solid #e3e3e3;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  overflow: auto;
  max-height: 100%;
}

h2 {
  margin-top: 20px;
  padding-bottom: 7px;
  font-size: 21px;
  color: $text-color;
  border-bottom: 1px solid #e5e5e5;
}
