.copy-button {
    position: absolute;
    top: 0;
    right: 0;
    display: inline-block;
    color: #fff;
    background-color: #ff4e00;
    border: none;
    padding: 3px 10px;
    font-size: 12px;
    text-transform: uppercase;
    text-align: center;
    cursor: pointer;
}

.highlighter-rouge {
    position: relative;
}
