.footer-link {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.footer-link a {
    padding: 2px 7px;
    text-decoration: none;
    color: #FFF !important;
    border-radius: 5px;

    &:hover, &:visited {
        color: #FFF !important;
    }
}

.twitter-username {
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;

    &:before {
        content: '';
        display: inline-block;
        width: 16px;
        height: 16px;
        background-image: url('data:image/svg+xml,%3Csvg%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2016%2016%22%3E%3Cpath%20d%3D%22m9.4894%206.7749%205.8283-6.7749h-1.3811l-5.0607%205.8826-4.042-5.8826h-4.6619l6.1122%208.8955-6.1122%207.1045h1.3812l5.3442-6.2122%204.2686%206.2122h4.6619l-6.3389-9.2251zm-1.8917%202.1989-0.6193-0.88579-4.9275-7.0483h2.1214l3.9766%205.6882%200.6193%200.88579%205.1691%207.3938h-2.1214l-4.2181-6.0334z%22%20fill%3D%22%23fff%22%2F%3E%3C%2Fsvg%3E');
        background-size: contain;
        background-repeat: no-repeat;
    }
}

.rss {
    background-color: #F60;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;

    &:before {
        content: '';
        display: inline-block;
        width: 16px;
        height: 16px;
        background-image: url('data:image/svg+xml,%3Csvg%20version%3D%221.1%22%20viewBox%3D%220%200%2016%2016%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cg%20fill%3D%22%23fff%22%3E%3Cpath%20d%3D%22m11.316%204.6838c-3.0204-3.0204-7.0392-4.6838-11.316-4.6838v3.1468c3.4363%200%206.6649%201.3361%209.091%203.7622%202.426%202.4261%203.7622%205.6547%203.7622%209.091h3.1468c-4.9e-5%20-4.2769-1.6635-8.2957-4.6839-11.316z%22%2F%3E%3Cpath%20d%3D%22m0%205.36v3.1366c4.1374%200%207.5035%203.3661%207.5035%207.5037h3.1365c0-5.8671-4.7731-10.64-10.64-10.64z%22%2F%3E%3Ccircle%20cx%3D%222.25%22%20cy%3D%2213.75%22%20r%3D%222.25%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E');
        background-size: contain;
        background-repeat: no-repeat;
    }
}
