<!DOCTYPE html>
<html lang="ja">

  <head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
  

  <title>モバマス振り分けpt計算機</title>

  <link href='http://fonts.googleapis.com/css?family=Orbitron:500' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="http://saasan.github.io/css/main.css">
  <link rel="canonical" href="http://saasan.github.io/mobamas-status-pt/">
  <link rel="alternate" type="application/rss+xml" title="saasan.github.io" href="http://saasan.github.io/feed.xml" />
  <link rel="apple-touch-icon" href="http://saasan.github.io/img/s2works_favicon.png">

  <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
</head>


  <body>

    <header class="site-header">

  <div class="wrapper">

    <a class="site-title" href="/">saasan.github.io</a>

    <nav class="site-nav">
      <a href="#" class="menu-icon">
        <svg viewBox="0 0 24 20">
          <path fill="#424242" d="m 0,0 24,0 0,4 -24,0 z"/>
          <path fill="#424242" d="m 0,8 24,0 0,4 -24,0 z"/>
          <path fill="#424242" d="m 0,16 24,0 0,4 -24,0 z"/>
        </svg>
      </a>

      <div class="trigger">
        
          
        
          
            <a class="page-link" href="/imas/">アイマス関連</a>
          
        
          
        
          
        
          
        
          
        
          
            <a class="page-link" href="/logs.html">Logs</a>
          
        
          
        
          
            <a class="page-link" href="/script/pixiv-tags.html">pixiv Tags</a>
          
        
          
            <a class="page-link" href="/software/pso2utility.html">PSO2Utility</a>
          
        
          
        
      </div>
    </nav>

  </div>

</header>


    <div class="wrapper">
  <!-- saasan.github.io レスポンシブ -->
  <ins class="adsbygoogle"
       style="display:block"
       data-ad-client="ca-pub-0141905477316976"
       data-ad-slot="5633684976"
       data-ad-format="auto"></ins>
</div>


    <div class="page-content">
      <div class="wrapper">
        <div class="post">

  <header class="post-header">
    <h1 class="post-title">モバマス振り分けpt計算機</h1>
  </header>

  <article class="post-content">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.0/angular.min.js"></script>
<script src="/js/ngStorage.min.js"></script>
<script src="mobamas-status-pt.min.js"></script>
<noscript>
  <p>JavaScriptを有効にして下さい。</p>
</noscript>

<div ng-app="mobamasStatusPt" ng-controller="MainController">
  <section class="info">
    <p>
      <a href="http://www18.atwiki.jp/imas_cg/pages/433.html" target="_blank">アイドルマスター シンデレラガールズ@wiki - プロデューサーステータス</a>
      を元に作成しています。
      現時点では「振り分けptリセット券」が未実装の為、実際にステータスがあっているか確認できていません。
    </p>
    <p>
      なにかあれば
      <a href="https://twitter.com/saasan" target="_blank">カガミ (@saasan)</a>
      へどうぞ。
    </p>
  </section>

  <section class="well">
    <h3>① 振り分けptがいくつあるか調べる</h3>
    <p>レベル、スタミナ、攻守コスト、未振り分けptを入力すると、現在振り分けptがいくつあるか分かります。</p>
    <form name="calcStatusPt">
      <dl>
        <dt>レベル</dt>
        <dd>
          <button ng-click="$storage.level = $storage.level - 10">-10</button>
          <button ng-click="$storage.level = $storage.level - 1">-1</button>
          <input type="number" name="level" ng-model="$storage.level" min="1" required>
          <button ng-click="$storage.level = $storage.level + 1">+1</button>
          <button ng-click="$storage.level = $storage.level + 10">+10</button>
        </dd>
        <dt>スタミナ</dt>
        <dd>
          <button ng-click="$storage.stamina = $storage.stamina - 10">-10</button>
          <button ng-click="$storage.stamina = $storage.stamina - 1">-1</button>
          <input type="number" name="stamina" ng-model="$storage.stamina" min="10" required>
          <button ng-click="$storage.stamina = $storage.stamina + 1">+1</button>
          <button ng-click="$storage.stamina = $storage.stamina + 10">+10</button>
        </dd>
        <dt>攻コスト</dt>
        <dd>
          <button ng-click="$storage.attack = $storage.attack - 10">-10</button>
          <button ng-click="$storage.attack = $storage.attack - 1">-1</button>
          <input type="number" name="attack" ng-model="$storage.attack" min="10" required>
          <button ng-click="$storage.attack = $storage.attack + 1">+1</button>
          <button ng-click="$storage.attack = $storage.attack + 10">+10</button>
        </dd>
        <dt>守コスト</dt>
        <dd>
          <button ng-click="$storage.defence = $storage.defence - 10">-10</button>
          <button ng-click="$storage.defence = $storage.defence - 1">-1</button>
          <input type="number" name="defence" ng-model="$storage.defence" min="10" required>
          <button ng-click="$storage.defence = $storage.defence + 1">+1</button>
          <button ng-click="$storage.defence = $storage.defence + 10">+10</button>
        </dd>
        <dt>未振り分けpt</dt>
        <dd>
          <button ng-click="$storage.unassignedPt = $storage.unassignedPt - 10">-10</button>
          <button ng-click="$storage.unassignedPt = $storage.unassignedPt - 1">-1</button>
          <input type="number" name="defence" ng-model="$storage.unassignedPt" min="0" required>
          <button ng-click="$storage.unassignedPt = $storage.unassignedPt + 1">+1</button>
          <button ng-click="$storage.unassignedPt = $storage.unassignedPt + 10">+10</button>
        </dd>
      </dl>
      <div>
        <p class="error" ng-show="calcStatusPt.$error.required">正の整数を入力して下さい。</p>
        <p class="error" ng-show="calcStatusPt.$error.number">正の整数を入力して下さい。</p>
        <p class="error" ng-show="calcStatusPt.$error.min">正の整数を入力して下さい。</p>
      </div>
      <p class="em">振り分けpt： [[ totalPt ]] pt</p>
    </form>
  </section>

  <section class="well">
    <h3>② 振り直しシミュレーター</h3>
    <p>基礎値はレベルによって決まっています。先に上のやつを入力しておいてください。</p>
    <form name="newStatusPt">
      <dl>
        <dt>スタミナ： 基礎値 [[ baseStamina ]] + 振り分けpt [[ $storage.newStaminaPt ]] = <em>[[ newStamina ]]</em></dt>
        <dd>
          <button ng-click="$storage.newStaminaPt = $storage.newStaminaPt - 10">-10</button>
          <button ng-click="$storage.newStaminaPt = $storage.newStaminaPt - 1">-1</button>
          <input type="number" name="newStaminaPt" ng-model="$storage.newStaminaPt" min="0" required>
          <button ng-click="$storage.newStaminaPt = $storage.newStaminaPt + 1">+1</button>
          <button ng-click="$storage.newStaminaPt = $storage.newStaminaPt + 10">+10</button>
        </dd>
        <dt>攻コスト： 基礎値 [[ baseAttack ]] + 振り分けpt [[ $storage.newAttackPt ]] = <em>[[ newAttack ]]</em></dt>
        <dd>
          <button ng-click="$storage.newAttackPt = $storage.newAttackPt - 10">-10</button>
          <button ng-click="$storage.newAttackPt = $storage.newAttackPt - 1">-1</button>
          <input type="number" name="newAttackPt" ng-model="$storage.newAttackPt" min="0" required>
          <button ng-click="$storage.newAttackPt = $storage.newAttackPt + 1">+1</button>
          <button ng-click="$storage.newAttackPt = $storage.newAttackPt + 10">+10</button>
        </dd>
        <dt>守コスト： 基礎値 [[ baseDefence ]] + 振り分けpt [[ $storage.newDefencePt ]] = <em>[[ newDefence ]]</em></dt>
        <dd>
          <button ng-click="$storage.newDefencePt = $storage.newDefencePt - 10">-10</button>
          <button ng-click="$storage.newDefencePt = $storage.newDefencePt - 1">-1</button>
          <input type="number" name="newDefencePt" ng-model="$storage.newDefencePt" min="0" required>
          <button ng-click="$storage.newDefencePt = $storage.newDefencePt + 1">+1</button>
          <button ng-click="$storage.newDefencePt = $storage.newDefencePt + 10">+10</button>
        </dd>
      </dl>
      <div>
        <p class="error" ng-show="newStatusPt.$error.required">0以上の整数を入力して下さい。</p>
        <p class="error" ng-show="newStatusPt.$error.number">0以上の整数を入力して下さい。</p>
        <p class="error" ng-show="newStatusPt.$error.min">0以上の整数を入力して下さい。</p>
      </div>
      <p class="em">残り振り分けpt： [[ differencePt ]] / [[ totalPt ]] pt</p>
    </form>
  </section>
</div>

  </article>

</div>

      </div>
    </div>

    <div class="wrapper">
  <!-- saasan.github.io レスポンシブ -->
  <ins class="adsbygoogle"
       style="display:block"
       data-ad-client="ca-pub-0141905477316976"
       data-ad-slot="5633684976"
       data-ad-format="auto"></ins>
</div>


    <footer class="site-footer">
  <div class="wrapper">
    <nav>
      
        
      
        
          <a class="page-link" href="/imas/">アイマス関連</a> |
        
      
        
      
        
      
        
      
        
      
        
          <a class="page-link" href="/logs.html">Logs</a> |
        
      
        
      
        
          <a class="page-link" href="/script/pixiv-tags.html">pixiv Tags</a> |
        
      
        
          <a class="page-link" href="/software/pso2utility.html">PSO2Utility</a> |
        
      
        
      

      
      <a href="https://twitter.com/saasan" target="_blank">
        <span class="icon  icon--twitter">
          <svg viewBox="0 0 16 16">
            <path fill="#828282" d="M15.969,3.058c-0.586,0.26-1.217,0.436-1.878,0.515c0.675-0.405,1.194-1.045,1.438-1.809
                                    c-0.632,0.375-1.332,0.647-2.076,0.793c-0.596-0.636-1.446-1.033-2.387-1.033c-1.806,0-3.27,1.464-3.27,3.27 c0,0.256,0.029,0.506,0.085,0.745C5.163,5.404,2.753,4.102,1.14,2.124C0.859,2.607,0.698,3.168,0.698,3.767 c0,1.134,0.577,2.135,1.455,2.722C1.616,6.472,1.112,6.325,0.671,6.08c0,0.014,0,0.027,0,0.041c0,1.584,1.127,2.906,2.623,3.206 C3.02,9.402,2.731,9.442,2.433,9.442c-0.211,0-0.416-0.021-0.615-0.059c0.416,1.299,1.624,2.245,3.055,2.271 c-1.119,0.877-2.529,1.4-4.061,1.4c-0.264,0-0.524-0.015-0.78-0.046c1.447,0.928,3.166,1.469,5.013,1.469 c6.015,0,9.304-4.983,9.304-9.304c0-0.142-0.003-0.283-0.009-0.423C14.976,4.29,15.531,3.714,15.969,3.058z"/>
          </svg>
        </span>

        <span class="username">saasan</span>
      </a>
      
      | <a href="/feed.xml" target="_blank">RSS</a>
    </nav>
  </div>
</footer>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-42938817-1', 'saasan.github.io');
  ga('send', 'pageview');

  var i = document.getElementsByClassName('adsbygoogle').length;
  while (i-- > 0) {
    (adsbygoogle = window.adsbygoogle || []).push({});
  }
</script>


  </body>

</html>
