<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <title>モバマス振り分けpt計算機</title>
    <link href='//fonts.googleapis.com/css?family=Orbitron:500' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="canonical" href="https://saasan.github.io/mobamas-status-pt/">
    <link rel="alternate" type="application/rss+xml" title="saasan.github.io" href="https://saasan.github.io/feed.xml" />
    <link rel="apple-touch-icon" href="https://saasan.github.io/img/s2works_favicon.png">
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@saasan">
    <meta property="og:url" content="https://saasan.github.io/mobamas-status-pt/">
    <meta property="og:title" content="モバマス振り分けpt計算機">
    <meta property="og:description" content="アイドルマスターシンデレラガールズ (モバマス、デレマス) の振り分けptがいくつあるか計算できます。 また、振り直しシミュレーターで振り直しを試すこともできます。">
    <meta property="og:image" content="https://saasan.github.io/img/s2works_favicon.png">
    <script type="application/ld+json">
      {
        "@context": "http://schema.org/",
        "@type": "Person",
        "name": "saasan",
        "sameAs": [
          "https://twitter.com/saasan",
          "https://github.com/saasan"
        ]
      }
    </script>
    <script type="application/ld+json">
      {
        "@context": "http://schema.org",
        "@type": "Article",
        "name": "モバマス振り分けpt計算機",
        "datePublished": "2015-06-12T23:49:28+09:00",
        "headline": "アイドルマスターシンデレラガールズ (モバマス、デレマス) の振り分けptがいくつあるか計算できます。 また、振り直しシミュレーターで振り直しを試すこともできます。",
        "image": "https://saasan.github.io/img/s2works_favicon.png",
        "url": "https://saasan.github.io/mobamas-status-pt/",
        "publisher" : {
          "@type": "Person",
          "name": "saasan"
        }
      }
    </script>
  </head>
  <body itemscope itemtype="http://schema.org/WebPage">
    <header class="site-header">
      <div class="wrapper">
        <a class="site-title" href="/">saasan.github.io</a>
        <nav class="site-nav">
          <div class="site-nav-contents">
            <ul>
              <li><a href="/blog/">ブログ</a></li>
              <li><a href="/imas/">アイマス</a></li>
              <li><a href="/software/">ソフトウェア</a></li>
              <li><a href="/script/">スクリプト</a></li>
            </ul>
          </div>
        </nav>
      </div>
    </header>
    <div class="wrapper">
      <!-- saasan.github.io レスポンシブ -->
      <ins class="adsbygoogle"
       style="display:block"
       data-ad-client="ca-pub-0141905477316976"
       data-ad-slot="5633684976"
       data-ad-format="auto"></ins>
    </div>
    <div class="page-content">
      <div class="wrapper">
        <div class="post" itemprop="mainContentOfPage" itemscope itemtype="http://schema.org/WebPageElement">
          <header class="post-header">
            <h1 class="post-title">モバマス振り分けpt計算機</h1>
            <div class="post-meta">
              <time datetime="2015-06-12T23:49:28+09:00" itemprop="dateModified">2015/06/12</time>
            </div>
          </header>
          <article class="post-content">
            <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.0/angular.min.js"></script>
            <script src="/js/ngStorage.min.js"></script>
            <script src="mobamas-status-pt.min.js"></script>
            <div ng-app="mobamasStatusPt" ng-controller="MainController">
              <section class="info">
                <p>
                  <a href="http://sp.pf.mbga.jp/12008305/" target="_blank">アイドルマスターシンデレラガールズ</a>
                  (モバマス、デレマス) の振り分けptがいくつあるか計算できます。
                  また、振り直しシミュレーターで振り直しを試すこともできます。
                </p>
                <p>
                  <a href="http://www18.atwiki.jp/imas_cg/pages/433.html" target="_blank">アイドルマスター シンデレラガールズ@wiki - プロデューサーステータス</a>
                  を元に作成しています。
                  現時点では「振り分けptリセット券」が未実装の為、実際にステータスがあっているか確認できていません。
                </p>
                <p>
                  なにかあれば
                  <a href="https://twitter.com/saasan" target="_blank">カガミ (@saasan)</a>
                  へどうぞ。
                </p>
                <noscript>
                  <p>JavaScriptを有効にして下さい。</p>
                </noscript>
              </section>
              <section class="well">
                <h3>① 振り分けptがいくつあるか調べる</h3>
                <p>レベル、スタミナ、攻守コスト、未振り分けptを入力すると、現在振り分けptがいくつあるか分かります。</p>
                <form name="calcStatusPt">
                  <dl>
                    <dt>レベル</dt>
                    <dd>
                      <button ng-click="$storage.level = $storage.level - 10">-10</button>
                      <button ng-click="$storage.level = $storage.level - 1">-1</button>
                      <input type="number" name="level" ng-model="$storage.level" min="1" required>
                      <button ng-click="$storage.level = $storage.level + 1">+1</button>
                      <button ng-click="$storage.level = $storage.level + 10">+10</button>
                    </dd>
                    <dt>スタミナ</dt>
                    <dd>
                      <button ng-click="$storage.stamina = $storage.stamina - 10">-10</button>
                      <button ng-click="$storage.stamina = $storage.stamina - 1">-1</button>
                      <input type="number" name="stamina" ng-model="$storage.stamina" min="10" required>
                      <button ng-click="$storage.stamina = $storage.stamina + 1">+1</button>
                      <button ng-click="$storage.stamina = $storage.stamina + 10">+10</button>
                    </dd>
                    <dt>攻コスト</dt>
                    <dd>
                      <button ng-click="$storage.attack = $storage.attack - 10">-10</button>
                      <button ng-click="$storage.attack = $storage.attack - 1">-1</button>
                      <input type="number" name="attack" ng-model="$storage.attack" min="10" required>
                      <button ng-click="$storage.attack = $storage.attack + 1">+1</button>
                      <button ng-click="$storage.attack = $storage.attack + 10">+10</button>
                    </dd>
                    <dt>守コスト</dt>
                    <dd>
                      <button ng-click="$storage.defence = $storage.defence - 10">-10</button>
                      <button ng-click="$storage.defence = $storage.defence - 1">-1</button>
                      <input type="number" name="defence" ng-model="$storage.defence" min="10" required>
                      <button ng-click="$storage.defence = $storage.defence + 1">+1</button>
                      <button ng-click="$storage.defence = $storage.defence + 10">+10</button>
                    </dd>
                    <dt>未振り分けpt</dt>
                    <dd>
                      <button ng-click="$storage.unassignedPt = $storage.unassignedPt - 10">-10</button>
                      <button ng-click="$storage.unassignedPt = $storage.unassignedPt - 1">-1</button>
                      <input type="number" name="defence" ng-model="$storage.unassignedPt" min="0" required>
                      <button ng-click="$storage.unassignedPt = $storage.unassignedPt + 1">+1</button>
                      <button ng-click="$storage.unassignedPt = $storage.unassignedPt + 10">+10</button>
                    </dd>
                  </dl>
                  <div>
                    <p class="error" ng-show="calcStatusPt.$error.required">正の整数を入力して下さい。</p>
                    <p class="error" ng-show="calcStatusPt.$error.number">正の整数を入力して下さい。</p>
                    <p class="error" ng-show="calcStatusPt.$error.min">正の整数を入力して下さい。</p>
                  </div>
                  <p class="em">振り分けpt： [[ totalPt ]] pt</p>
                </form>
              </section>
              <section class="well">
                <h3>② 振り直しシミュレーター</h3>
                <p>基礎値はレベルによって決まっています。先に上のやつを入力しておいてください。</p>
                <form name="newStatusPt">
                  <dl>
                    <dt>スタミナ： 基礎値 [[ baseStamina ]] + 振り分けpt [[ $storage.newStaminaPt ]] = <em>[[ newStamina ]]</em></dt>
                    <dd>
                      <button ng-click="$storage.newStaminaPt = $storage.newStaminaPt - 10">-10</button>
                      <button ng-click="$storage.newStaminaPt = $storage.newStaminaPt - 1">-1</button>
                      <input type="number" name="newStaminaPt" ng-model="$storage.newStaminaPt" min="0" required>
                      <button ng-click="$storage.newStaminaPt = $storage.newStaminaPt + 1">+1</button>
                      <button ng-click="$storage.newStaminaPt = $storage.newStaminaPt + 10">+10</button>
                    </dd>
                    <dt>攻コスト： 基礎値 [[ baseAttack ]] + 振り分けpt [[ $storage.newAttackPt ]] = <em>[[ newAttack ]]</em></dt>
                    <dd>
                      <button ng-click="$storage.newAttackPt = $storage.newAttackPt - 10">-10</button>
                      <button ng-click="$storage.newAttackPt = $storage.newAttackPt - 1">-1</button>
                      <input type="number" name="newAttackPt" ng-model="$storage.newAttackPt" min="0" required>
                      <button ng-click="$storage.newAttackPt = $storage.newAttackPt + 1">+1</button>
                      <button ng-click="$storage.newAttackPt = $storage.newAttackPt + 10">+10</button>
                    </dd>
                    <dt>守コスト： 基礎値 [[ baseDefence ]] + 振り分けpt [[ $storage.newDefencePt ]] = <em>[[ newDefence ]]</em></dt>
                    <dd>
                      <button ng-click="$storage.newDefencePt = $storage.newDefencePt - 10">-10</button>
                      <button ng-click="$storage.newDefencePt = $storage.newDefencePt - 1">-1</button>
                      <input type="number" name="newDefencePt" ng-model="$storage.newDefencePt" min="0" required>
                      <button ng-click="$storage.newDefencePt = $storage.newDefencePt + 1">+1</button>
                      <button ng-click="$storage.newDefencePt = $storage.newDefencePt + 10">+10</button>
                    </dd>
                  </dl>
                  <div>
                    <p class="error" ng-show="newStatusPt.$error.required">0以上の整数を入力して下さい。</p>
                    <p class="error" ng-show="newStatusPt.$error.number">0以上の整数を入力して下さい。</p>
                    <p class="error" ng-show="newStatusPt.$error.min">0以上の整数を入力して下さい。</p>
                  </div>
                  <p class="em">残り振り分けpt： [[ differencePt ]] / [[ totalPt ]] pt</p>
                </form>
              </section>
            </div>
          </article>
        </div>
      </div>
    </div>
    <div class="wrapper">
      <!-- saasan.github.io レスポンシブ -->
      <ins class="adsbygoogle"
       style="display:block"
       data-ad-client="ca-pub-0141905477316976"
       data-ad-slot="5633684976"
       data-ad-format="auto"></ins>
    </div>
    <footer class="site-footer">
      <div class="wrapper">
        <nav>
          <ul>
            <li><a href="/blog/">ブログ</a></li>
            <li><a href="/imas/">アイマス</a></li>
            <li><a href="/software/">ソフトウェア</a></li>
            <li><a href="/script/">スクリプト</a></li>
          </ul>
          <a href="https://twitter.com/saasan" target="_blank" class="twitter-username">
            saasan
          </a>
          <a href="/feed.xml" target="_blank" class="rss">RSS</a>
        </nav>
      </div>
    </footer>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      
      ga('create', 'UA-42938817-1', 'auto');
      ga('send', 'pageview');
      
      var i = document.getElementsByClassName('adsbygoogle').length;
      while (i-- > 0) {
        (adsbygoogle = window.adsbygoogle || []).push({});
      }
      (adsbygoogle = window.adsbygoogle || []).push({
        google_ad_client: "ca-pub-0141905477316976",
        enable_page_level_ads: true
      });
    </script>
  </body>
</html>