<!DOCTYPE html>
<html lang="ja" ng-app="mobamasDojo" ng-controller="MainController">
<head>
  <meta charset="UTF-8">
  <title>モバマス道場リスト(スマホ用)</title>
  <link rel="apple-touch-icon" href="//saasan.github.io/img/s2works_favicon.png">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="css/mobamas-dojo.css">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.2/angular.min.js"></script>
  <script src="js/mobamas-dojo.min.js"></script>
  <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
</head>
<body>
  <noscript>
    <p>JavaScriptを有効にして下さい。</p>
  </noscript>

  <section id="adTop">
    <!-- 道場リスト 320x50 -->
    <ins class="adsbygoogle"
         style="display:inline-block;width:320px;height:50px"
         data-ad-client="ca-pub-0141905477316976"
         data-ad-slot="1779793778"></ins>
  </section>

  <section id="info" class="info" ng-show="$storage.showWelcomeMessage">
    <button type="button" class="close" ng-click="$storage.showWelcomeMessage = false"><i class="fa fa-close"></i></button>
    <h3>モバマス道場リストへようこそ！</h3>
    <p>
      ここは
      <a href="http://sp.pf.mbga.jp/12008305/" target="_blank">アイドルマスターシンデレラガールズ</a>
      の道場(殴られ屋さん)一覧サイトです。
      スマートフォン用に作ってます。
    </p>
    <p>
      リストは毎朝5時ぐらいに
      <a href="https://docs.google.com/spreadsheet/lv?key=0Aq6mv2GCHMGLdERhLURsdEZwdVFvREdiYjE4Sy1FUnc&amp;type=view" target="_blank">アイマスCG 殴られ屋さん一覧</a>
      から取得して更新されます。
    </p>

    <h4>使い方</h4>
    <section>
      <p>
        道場を訪問する(タッチして開く)と赤くなります。
        赤くなった道場は、他の道場を訪問すると消えます。
        訪問状態は毎朝5時にリセットされ、消えた道場が再表示されます。
        「道場リスト設定」で赤くなるまでの回数を変更したり、訪問済の道場を表示したままにする事もできます。
      </p>
       <p>
        道場の右にある <i class="fa fa-remove"></i> ボタンを押すと、不要な道場を非表示にできます。
        非表示にした道場は「道場リスト設定」でリセットするまで再表示されません。
        守発揮値が高すぎる道場等にご利用下さい。
      </p>
    </section>
  </section>

  <section id="versionedInfo" class="info" ng-init="infoVersion = 6" ng-show="infoVersion > $storage.infoVersion">
    <button type="button" class="close" ng-click="$storage.infoVersion = infoVersion"><i class="fa fa-close"></i></button>
    <h3>お知らせ</h3>

    <h4>2014/12/13 変更点</h4>
    <ul>
      <li>サーバーから道場リストを取得できなかった場合の処理を追加</li>
    </ul>

    <h4>プロダクションメンバー募集中！</h4>
    <section>
      <p><a href="http://sp.pf.mbga.jp/12008305/?url=http%3A%2F%2F125.6.169.35%2Fidolmaster%2Fknights%2Fknights_top_for_other%3Fknights_id%3D474819" target="_blank">ﾍﾟﾛといっしょ【ゆきみﾌﾟﾛﾀﾞｸｼｮﾝ】</a></p>
      <p>
        佐城雪美ちゃんプロです！<br>
        ゆきみん好きなら誰でもどんと来い！<br>
        ゆきみんの輪を広げましょう？<br>
        ノルマ等は無し！<br>
        ゆきみん好きな方なら是非！<br>
        直接申請どうぞ♪【代表ID：<a href="http://sp.pf.mbga.jp/12008305/?url=http%3A%2F%2F125.6.169.35%2Fidolmaster%2Fprofile%2Fshow%2F60175954" target="_blank">60175954</a>】
      </p>
    </section>
  </section>

  <section id="birthday" class="info" ng-show="$storage.showBirthday">
    <button type="button" class="close" ng-click="$storage.showBirthday = false"><i class="fa fa-close"></i></button>
    <h3>誕生日</h3>
    <p ng-show="birthdayToday"><a href="http://sp.pf.mbga.jp/12008305/?url=http%3A%2F%2F125.6.169.35%2Fidolmaster%2Fbirthday" target="_blank">本日誕生日のアイドル：{{ birthdayToday }}</a></p>
    <p ng-hide="birthdayToday">本日誕生日のアイドルはいません</p>
    <p>次の誕生日は{{ birthdayNext }}</p>
  </section>

  <section id="toast" class="info {{ class }}" ng-controller="ToastController" ng-show="message">
    <button type="button" class="close" ng-click="close()"><i class="fa fa-close"></i></button>
    <div ng-class="{ undo: callback }" ng-click="onclick()">{{ message }}</div>
  </section>

  <section id="mobamasMenu" ng-show="$storage.showMobamasMenu">
    <a ng-show="$storage.showMobamasMenuItem.myPage" class="btn" href="http://sp.pf.mbga.jp/12008305/?url=http%3A%2F%2F125.6.169.35%2Fidolmaster%2Fmypage">ﾏｲｽﾀｼﾞｵ</a>
    <a ng-show="$storage.showMobamasMenuItem.petitCg" class="btn" href="http://sp.pf.mbga.jp/12008305/?url=http%3A%2F%2F125.6.169.35%2Fidolmaster%2Fpetit_cg">ぷちﾃﾞﾚﾗ</a>
    <a ng-show="$storage.showMobamasMenuItem.gacha" class="btn" href="http://sp.pf.mbga.jp/12008305/?url=http%3A%2F%2F125.6.169.35%2Fidolmaster%2Fgacha">ｶﾞﾁｬ</a>
    <a ng-show="$storage.showMobamasMenuItem.cardStr" class="btn" href="http://sp.pf.mbga.jp/12008305/?url=http%3A%2F%2F125.6.169.35%2Fidolmaster%2Fcard_str">ﾚｯｽﾝ</a>
    <a ng-show="$storage.showMobamasMenuItem.auction" class="btn" href="http://sp.pf.mbga.jp/12008305/?url=http%3A%2F%2F125.6.169.35%2Fidolmaster%2Fauction%2Fauction_top">ﾌﾘｰﾄﾚｰﾄﾞ</a>
    <a ng-show="$storage.showMobamasMenuItem.quests" class="btn" href="http://sp.pf.mbga.jp/12008305/?url=http%3A%2F%2F125.6.169.35%2Fidolmaster%2Fquests">お仕事</a>
    <a ng-show="$storage.showMobamasMenuItem.battles" class="btn" href="http://sp.pf.mbga.jp/12008305/?url=http%3A%2F%2F125.6.169.35%2Fidolmaster%2Fbattles">LIVEﾊﾞﾄﾙ</a>
    <a ng-show="$storage.showMobamasMenuItem.cardUnion" class="btn" href="http://sp.pf.mbga.jp/12008305/?url=http%3A%2F%2F125.6.169.35%2Fidolmaster%2Fcard_union">特訓</a>
    <a ng-show="$storage.showMobamasMenuItem.shop" class="btn" href="http://sp.pf.mbga.jp/12008305/?url=http%3A%2F%2F125.6.169.35%2Fidolmaster%2Fshop%2Findex">ｼｮｯﾌﾟ</a>
    <a ng-show="$storage.showMobamasMenuItem.item" class="btn" href="http://sp.pf.mbga.jp/12008305/?url=http%3A%2F%2F125.6.169.35%2Fidolmaster%2Fitem%2Findex">ｱｲﾃﾑ</a>
    <a ng-show="$storage.showMobamasMenuItem.present" class="btn" href="http://sp.pf.mbga.jp/12008305/?url=http%3A%2F%2F125.6.169.35%2Fidolmaster%2Fpresent%2Frecieve%2F%3Fview_auth_type%3D1%26cache%3D1">贈り物</a>
    <a ng-show="$storage.showMobamasMenuItem.cardList" class="btn" href="http://sp.pf.mbga.jp/12008305/?url=http%3A%2F%2F125.6.169.35%2Fidolmaster%2Fcard_list%2Findex">ｱｲﾄﾞﾙ一覧</a>
    <a ng-show="$storage.showMobamasMenuItem.tradeResponse" class="btn" href="http://sp.pf.mbga.jp/12008305/?url=http%3A%2F%2F125.6.169.35%2Fidolmaster%2Ftrade_response%2Ftrade_list_advance">ﾄﾚｰﾄﾞ</a>
    <a ng-show="$storage.showMobamasMenuItem.deck" class="btn" href="http://sp.pf.mbga.jp/12008305/?url=http%3A%2F%2F125.6.169.35%2Fidolmaster%2Fdeck%2Findex">編成</a>
    <a ng-show="$storage.showMobamasMenuItem.exchange" class="btn" href="http://sp.pf.mbga.jp/12008305/?url=http%3A%2F%2F125.6.169.35%2Fidolmaster%2Fexchange%2Fmedal_list%2F999999">交換</a>
    <a ng-show="$storage.showMobamasMenuItem.cardStorage" class="btn" href="http://sp.pf.mbga.jp/12008305/?url=http%3A%2F%2F125.6.169.35%2Fidolmaster%2Fcard_storage%2Findex">女子寮</a>
    <a ng-show="$storage.showMobamasMenuItem.rareParts" class="btn" href="http://sp.pf.mbga.jp/12008305/?url=http%3A%2F%2F125.6.169.35%2Fidolmaster%2Frareparts%2Findex">衣装</a>
    <a ng-show="$storage.showMobamasMenuItem.friend" class="btn" href="http://sp.pf.mbga.jp/12008305/?url=http%3A%2F%2F125.6.169.35%2Fidolmaster%2Ffriend%2Findex">お気に入り</a>
    <a ng-show="$storage.showMobamasMenuItem.wish" class="btn" href="http://sp.pf.mbga.jp/12008305/?url=http%3A%2F%2F125.6.169.35%2Fidolmaster%2Fwish%2Findex">ﾎｼｲﾓﾉ</a>
    <a ng-show="$storage.showMobamasMenuItem.archive" class="btn" href="http://sp.pf.mbga.jp/12008305/?url=http%3A%2F%2F125.6.169.35%2Fidolmaster%2Farchive%2Findex">ｱﾙﾊﾞﾑ</a>
    <a ng-show="$storage.showMobamasMenuItem.pRankingAward" class="btn" href="http://sp.pf.mbga.jp/12008305/?url=http%3A%2F%2F125.6.169.35%2Fidolmaster%2Fp_ranking_award">PRA</a>
    <a ng-show="$storage.showMobamasMenuItem.results" class="btn" href="http://sp.pf.mbga.jp/12008305/?url=http%3A%2F%2F125.6.169.35%2Fidolmaster%2Fresults">ﾌﾟﾛﾌｨｰﾙ</a>
    <a ng-show="$storage.showMobamasMenuItem.gallery" class="btn" href="http://sp.pf.mbga.jp/12008305/?url=http%3A%2F%2F125.6.169.35%2Fidolmaster%2Fgallery">ｱｲﾄﾞﾙｷﾞｬﾗﾘｰ</a>
    <a ng-show="$storage.showMobamasMenuItem.memory" class="btn" href="http://sp.pf.mbga.jp/12008305/?url=http%3A%2F%2F125.6.169.35%2Fidolmaster%2Fmemory">ｲﾍﾞﾝﾄﾒﾓﾘｰ</a>
    <a ng-show="$storage.showMobamasMenuItem.sBooth" class="btn" href="http://sp.pf.mbga.jp/12008305/?url=http%3A%2F%2F125.6.169.35%2Fidolmaster%2Fs_booth">ｻｳﾝﾄﾞﾌﾞｰｽ</a>
    <a ng-show="$storage.showMobamasMenuItem.personalOption" class="btn" href="http://sp.pf.mbga.jp/12008305/?url=http%3A%2F%2F125.6.169.35%2Fidolmaster%2Fpersonal_option">設定</a>
    <a ng-show="$storage.showMobamasMenuItem.advise" class="btn" href="http://sp.pf.mbga.jp/12008305/?url=http%3A%2F%2F125.6.169.35%2Fidolmaster%2Fadvise%2Findex%2Ftop">ﾍﾙﾌﾟ</a>
    <a ng-show="$storage.showMobamasMenuItem.top" class="btn" href="http://sp.pf.mbga.jp/12008305/">ﾄｯﾌﾟ</a>
  </section>

  <section id="viewSettings">
    <h3 ng-click="$storage.showViewSettings = !$storage.showViewSettings">
      <i class="fa fa-chevron-up" ng-show="$storage.showViewSettings"></i>
      <i class="fa fa-chevron-down" ng-hide="$storage.showViewSettings"></i>
      道場リスト設定
    </h3>
    <section class="form" ng-show="$storage.showViewSettings">
      <section>
        <select ng-model="$storage.visitedMax">
          <option value="1">1</option>
          <option value="3">3</option>
        </select>
        回以上訪問した時、道場を訪問済とする
      </section>
      <section>
        <label>
          <input type="checkbox" ng-model="$storage.autoHide"> 訪問済の道場を表示しない
        </label>
        <label>
          ┗ <input type="checkbox" ng-model="$storage.keepLastVisited"> 最後に訪問した道場を残す
        </label>
      </section>
      <section>
        一度に表示する道場数: 最大
        <select ng-model="$storage.view.limitTo">
          <option value="5">5</option>
          <option value="10">10</option>
          <option value="20">20</option>
          <option value="30">30</option>
          <option value="40">40</option>
          <option value="50">50</option>
          <option value="60">60</option>
          <option value="70">70</option>
          <option value="80">80</option>
          <option value="90">90</option>
          <option value="100">100</option>
          <option value="200">200</option>
          <option value="300">300</option>
          <option value="400">400</option>
          <option value="500">500</option>
        </select>
        件
      </section>
      <section>
        表示順:
        <select ng-model="$storage.view.orderBy">
          <option value="rankNo">ランク順</option>
          <option value="lvNo">レベル順</option>
        </select>
      </section>
      <section>
        ランク:
        <select ng-model="$storage.view.rankRange.min">
          <option value="10">S5</option>
          <option value="9">S4</option>
          <option value="8">S3</option>
          <option value="7">SS</option>
          <option value="6">S</option>
          <option value="5">A</option>
          <option value="4">B</option>
          <option value="3">C</option>
          <option value="2">D</option>
          <option value="1">E</option>
          <option value="0">無制限</option>
        </select>
        ～
        <select ng-model="$storage.view.rankRange.max">
          <option value="-1">無制限</option>
          <option value="10">S5</option>
          <option value="9">S4</option>
          <option value="8">S3</option>
          <option value="7">SS</option>
          <option value="6">S</option>
          <option value="5">A</option>
          <option value="4">B</option>
          <option value="3">C</option>
          <option value="2">D</option>
          <option value="1">E</option>
          <option value="0">F</option>
        </select>
      </section>
      <section>
        レベル:
        <select ng-model="$storage.view.levelRange.min">
          <option value="350">350</option>
          <option value="300">300</option>
          <option value="250">250</option>
          <option value="200">200</option>
          <option value="150">150</option>
          <option value="100">100</option>
          <option value="50">50</option>
          <option value="0">無制限</option>
        </select>
        ～
        <select ng-model="$storage.view.levelRange.max">
          <option value="-1">無制限</option>
          <option value="350">350</option>
          <option value="300">300</option>
          <option value="250">250</option>
          <option value="200">200</option>
          <option value="150">150</option>
          <option value="100">100</option>
          <option value="50">50</option>
          <option value="0">0</option>
        </select>
      </section>
      <section>
        守発揮値:
        <select ng-model="$storage.view.defenseRange.min">
          <option value="15000">15000</option>
          <option value="14000">14000</option>
          <option value="13000">13000</option>
          <option value="12000">12000</option>
          <option value="11000">11000</option>
          <option value="10000">10000</option>
          <option value="9000">9000</option>
          <option value="8000">8000</option>
          <option value="7000">7000</option>
          <option value="6000">6000</option>
          <option value="5000">5000</option>
          <option value="4000">4000</option>
          <option value="3000">3000</option>
          <option value="2000">2000</option>
          <option value="1000">1000</option>
          <option value="0">無制限</option>
        </select>
        ～
        <select ng-model="$storage.view.defenseRange.max">
          <option value="-1">無制限</option>
          <option value="15000">15000</option>
          <option value="14000">14000</option>
          <option value="13000">13000</option>
          <option value="12000">12000</option>
          <option value="11000">11000</option>
          <option value="10000">10000</option>
          <option value="9000">9000</option>
          <option value="8000">8000</option>
          <option value="7000">7000</option>
          <option value="6000">6000</option>
          <option value="5000">5000</option>
          <option value="4000">4000</option>
          <option value="3000">3000</option>
          <option value="2000">2000</option>
          <option value="1000">1000</option>
        </select>
      </section>
      <section>
        <a class="btn" href="settings.html"><i class="fa fa-cog"></i> その他の設定</a>
      </section>
    </section>
  </section>

  <section id="dojos" ng-init="init()">
    <div class="dojo" ng-class="dojoClass(dojo)" ng-repeat="dojo in dojos | orderBy: $storage.view.orderBy | filter: dojoFilter | limitTo : $storage.view.limitTo">
      <a ng-if="dojo.defense.length > 0"
        ng-click="onClickDojoLink(dojo)" class="btn dojo-link"
        href="{{ $storage.dojoLinkUrl }}{{ dojo.id }}"
        target="{{ $storage.dojoLinkTarget }}"><span class="detail">{{ dojo[$storage.view.orderBy] }}. {{ dojo.lv }} {{ RANK[dojo.rank] }} {{ dojo.leader }}</span><span class="defense">{{ dojo.defense }}</span></a>
      <a ng-if="dojo.defense == null || dojo.defense.length <= 0"
        ng-click="onClickDojoLink(dojo)" class="btn dojo-link"
        href="{{ $storage.dojoLinkUrl }}{{ dojo.id }}"
        target="{{ $storage.dojoLinkTarget }}">{{ dojo[$storage.view.orderBy] }}. {{ dojo.lv }} {{ RANK[dojo.rank] }} {{ dojo.leader }}</a>
      <button ng-click="onClickHideDojo(dojo)" type="button" class="btn hide-dojo"><i class="fa fa-remove"></i></button>
    </div>
  </section>

  <section id="adBottom">
    <!-- 道場リスト 300x250 -->
    <ins class="adsbygoogle"
         style="display:inline-block;width:300px;height:250px"
         data-ad-client="ca-pub-0141905477316976"
         data-ad-slot="3256526972"></ins>
  </section>

  <section>
    <a class="btn block" href="about.html">このサイトについて</a>
  </section>

  <section class="well">
    <p><small>道場データ最終更新日時: {{ lastUpdate }}</small></p>
    <p><small>登録道場数: {{ dojos.length }}件</small></p>
  </section>

  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-42938817-1', 'saasan.github.io');
    ga('send', 'pageview');

    var i = document.getElementsByClassName('adsbygoogle').length;
    while (i-- > 0) {
      (adsbygoogle = window.adsbygoogle || []).push({});
    }
  </script>
</body>
</html>
