<!DOCTYPE html>
<html lang="ja" ng-app="mobamasDojo" ng-controller="SettingsController">
<head>
  <meta charset="UTF-8">
  <title>設定 - モバマス道場リスト(スマホ用)</title>
  <link rel="apple-touch-icon" href="//saasan.github.io/img/s2works_favicon.png">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="css/mobamas-dojo.css">
  <script src="js/mobamas-dojo.min.js"></script>
  <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
</head>
<body>
  <noscript>
    <p>JavaScriptを有効にして下さい。</p>
  </noscript>

  <section>
    <!-- 道場リスト レスポンシブ -->
    <ins class="adsbygoogle"
         style="display:block"
         data-ad-client="ca-pub-0141905477316976"
         data-ad-slot="3289892971"
         data-ad-format="auto"></ins>
  </section>

  <section id="toast" class="info {{ class }}" ng-controller="ToastController" ng-show="visible">
    <button type="button" class="close" ng-click="close()"><i class="fa fa-close"></i></button>
    <div ng-class="{ undo: callback }" ng-click="onclick()" ng-bind-html="message"></div>
  </section>

  <section class="form">
    <h2>設定</h2>
    <section>
      道場の
      <select ng-model="$storage.dojoLinkUrl">
        <option value="http://sp.pf.mbga.jp/12008305/?url=http%3A%2F%2F125.6.169.35%2Fidolmaster%2Fprofile%2Fshow%2F">プロフィール</option>
        <option value="http://sp.pf.mbga.jp/12008305/?url=http%3A%2F%2F125.6.169.35%2Fidolmaster%2Fbattles%2Fbattle_check%2F">LIVEバトル</option>
        <option value="http://sp.pf.mbga.jp/12008305/?url=http%3A%2F%2F125.6.169.35%2Fidolmaster%2Fcheer%2Findex%2F">応援</option>
        <option value="http://sp.pf.mbga.jp/12008305/?url=http%3A%2F%2F125.6.169.35%2Fidolmaster%2Fpetit_cg%2Fpetit_cheer%2F">ぷちデレラ</option>
      </select>
      画面を開く
      <small>
        ※ 「LIVEバトル」に設定すると、環境によってはエラーが発生しLIVEバトルが行えない場合があります。
      </small>
    </section>
    <section>
      道場を
      <select ng-model="$storage.dojoLinkTarget">
        <option value="_blank">別のタブ</option>
        <option value="_self">同じタブ</option>
      </select>
      で開く
    </section>
    <section>
      <label>
        <input type="checkbox" ng-model="$storage.showWelcomeMessage"> 「ようこそ」を表示する
      </label>
    </section>
    <section>
      <label>
        <input type="checkbox" ng-model="$storage.showBirthday"> 誕生日を表示する
      </label>
    </section>
    <section>
      <label>
        <input type="checkbox" ng-model="$storage.showMobamasMenu"> モバマスのメニューを表示する
      </label>
    </section>
    <section class="settings-mobamas-menu" ng-show="$storage.showMobamasMenu">
      <label ng-repeat="item in ui.mobamasMenu">
        <input type="checkbox" ng-model="$storage.showMobamasMenuItem[item.key]"> {{ item.label }}
      </label>
    </section>
    <section>
      「元に戻す」を
      <select ng-model="$storage.undoTimeout">
        <option value="5000">5秒で消す</option>
        <option value="10000">10秒で消す</option>
        <option value="15000">15秒で消す</option>
        <option value="20000">20秒で消す</option>
        <option value="25000">25秒で消す</option>
        <option value="30000">30秒で消す</option>
        <option value="0">自動で消さない</option>
      </select>
    </section>
    <a class="btn block" href="./"><i class="fa fa-undo"></i> 戻る</a>
  </section>

  <section>
    <h2>初期化</h2>
    <button type="button" class="btn block" ng-click="resetVisited()">訪問状態を初期化</button>
    <button type="button" class="btn block" ng-click="resetHiddenDojos()">非表示にした道場を再表示</button>
    <button type="button" class="btn block" ng-click="resetAll()"><i class="fa fa-undo"></i> 全ての設定を初期化</button>
  </section>

  <section class="form">
    <h2>データ入出力</h2>
    <input type="text" id="dataOutput" ng-model="dataOutput" onfocus="this.select();">
    <button type="submit" class="btn block" ng-click="inputData()"><i class="fa fa-sign-in"></i> 入力</button>
    <button type="button" class="btn block" onclick="document.getElementById('dataOutput').select();">テキスト全選択</button>
    <button type="button" class="btn block" ng-click="dataOutput = ''"><i class="fa fa-remove"></i> テキスト全消去</button>
  </section>

  <section>
    <!-- 道場リスト レスポンシブ -->
    <ins class="adsbygoogle"
         style="display:block"
         data-ad-client="ca-pub-0141905477316976"
         data-ad-slot="3289892971"
         data-ad-format="auto"></ins>
  </section>

  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-42938817-1', 'saasan.github.io');
    ga('send', 'pageview');

    var i = document.getElementsByClassName('adsbygoogle').length;
    while (i-- > 0) {
      (adsbygoogle = window.adsbygoogle || []).push({});
    }
  </script>
</body>
</html>
