.btn-block + .btn-block {
  margin-left: 0;
  margin-top: 7px;
}

.btn-full-width {
  position: relative;
}
.btn-full-width .dropdown-lead {
  width: 100%;
}
.btn-full-width .dropdown-lead-container {
  left: 0;
  position: absolute;
  right: 26px;
}
.btn-full-width .dropdown-toggle {
  width: 26px;
  float: right;
  box-sizing: border-box;
}
.btn-full-width > .dropdown-lead-container + .dropdown-toggle {
  *padding-top: 5px;
  padding-right: 8px;
  *padding-bottom: 5px;
  padding-left: 8px;
  -webkit-box-shadow: inset 1px 0 0 rgba(255, 255, 255, 0.125), inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
     -moz-box-shadow: inset 1px 0 0 rgba(255, 255, 255, 0.125), inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
          box-shadow: inset 1px 0 0 rgba(255, 255, 255, 0.125), inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}

.dojo .dropdown-lead {
  text-align: left;
}



.btn-full-width-group {
  position: relative;
}
.btn-full-width-group .btn-full-width {
  width: 100%;
}
.btn-full-width-group > .btn-full-width-container {
  left: 0;
  position: absolute;
  right: 40px;
}
.btn-full-width-group > .btn-full-width-container + .btn {
  width: 40px;
  float: right;
  box-sizing: border-box;
  *padding-top: 5px;
  padding-right: 8px;
  *padding-bottom: 5px;
  padding-left: 8px;
  -webkit-box-shadow: inset 1px 0 0 rgba(255, 255, 255, 0.125), inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
     -moz-box-shadow: inset 1px 0 0 rgba(255, 255, 255, 0.125), inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
          box-shadow: inset 1px 0 0 rgba(255, 255, 255, 0.125), inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}
.btn-full-width-group.btn-full-width-large > .btn-full-width-container {
  right: 54px;
}
.btn-full-width-group.btn-full-width-large > .btn-full-width-container + .btn {
  width: 54px;
}

.dojo .btn-full-width {
  text-align: left;
  overflow: hidden;
}

nav,
div.alert,
.pill-content {
  margin:0 7px 7px 7px;
}

.nav {
  margin:0;
}

.pagination,
.well {
  margin:7px 0;
}

#adsense {
  margin: 0 auto;
  width: 320px;
}

#info,
#alert-container {
  display: none;
}

#alert-container {
  position: fixed;
  z-index: 1;
  bottom: 7px;
  width:100%;
}

#alert {
  margin: 0 7px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
     -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

legend {
  font-size: 14px;
  line-height: 30px;
  margin-bottom: 7px;
}

legend ~ * {
  margin-left: 1em;
}
