@charset "UTF-8";
@import "compass";
@import "normalize";
@import "font-awesome";

$default-margin: 7px;

$body-bg:       #fff;
$text-color:    #333;
$link-color:    #08c;

$default-color: #333;
$default-bg:    #f5f5f5;
$primary-color: #fff;
$primary-bg:    #0078e7;
$success-color: #fff;
$success-bg:    #00d46b;
$warning-color: #fff;
$warning-bg:    #ffc100;
$error-color:   #fff;
$error-bg:      #e70048;
$info-color:    #555;
$info-bg:       #fcf8e3;
$info-border:   darken($info-bg, 8%);

h3 {
  margin: 0;
  margin-bottom: $default-margin * 2;
  font-size: medium;
  font-weight: bold;
}

section {
  margin: $default-margin;
  margin-top: 0;
}

p {
  margin: 0;
  margin-top: $default-margin;
}

a {
  color: $link-color;
  text-decoration: none;
}

img {
  vertical-align: middle;
}

.btn {
  display: inline-block;
  padding: 4px 12px;
  margin-bottom: 0;
  line-height: 30px;
  color: $default-color;
  text-align: center;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  vertical-align: middle;
  cursor: pointer;
  background-color: $default-bg;
  border: 1px solid #ccc;
  border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);

  &.block {
    display: block;
    width: 100%;
    margin-top: $default-margin;
    padding-right: 0;
    padding-left: 0;
    @include box-sizing(border-box);
  }

  &.primary {
    color: $primary-color;
    background-color: $primary-bg;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  }
}

.close {
  padding: 0;
  cursor: pointer;
  background: transparent;
  border: 0;
  float: right;
  font-size: 20px;
  font-weight: bold;
  line-height: 20px;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  opacity: .2;
}

.info {
  margin-top: $default-margin;
  padding: $default-margin * 2;
  color: $info-color;
  text-shadow: 0 1px 0 rgba(255,255,255,0.5);
  background-color: $info-bg;
  border: 1px solid $info-border;

  &.error {
    color: $error-color;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-color: $error-bg;
    border-color: $error-bg;
    font-weight: bold;

    .close {
      color: $error-color;
      opacity: 1;
    }
  }

  h4 {
    margin: 0;
    margin-bottom: $default-margin;
    padding-bottom: 3px;
    font-weight: normal;
    border: {
      color: $info-border;
      style: solid;
      width: 0 0 1px 0;
    }
  }
}

#info,
#birthday,
#toast,
#buttons,
#ad,
#config,
#dojos {
  display: none;
}

#toast {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  margin: $default-margin;
  z-index: 100;
  @include box-shadow(0 0 15px rgba(0, 0, 0, 0.5));
}

#ad {
  margin: $default-margin;

  a {
    display: block;
    position: relative;

    img {
      display: block;
      width: 100%;
    }

    .caption {
      display: block;
      width: 96%;
      padding: 2%;
      position: absolute;
      left: 0;
      bottom: 0;
      background-color: rgba(0, 0, 0, 0.5);
      color: #fff;
      text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.5);
      font-size: 10px;
      line-height: 12px;
    }
  }
}

#config {
  position: fixed;
  z-index: 20;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0;
  padding: $default-margin;
  background-color: $body-bg;
  overflow: auto;

  h2 {
    margin-top: 20px;
    padding-bottom: $default-margin;
    font-size: 21px;
    color: $text-color;
    border-bottom: 1px solid #e5e5e5;
  }

  label {
    display: block;
    margin-top: $default-margin;
  }

  label,
  select,
  button,
  input[type="button"],
  input[type="reset"],
  input[type="submit"],
  input[type="radio"],
  input[type="checkbox"] {
    cursor: pointer;
  }

  input[type="text"] {
    width: 100%;
    padding-right: 0;
    padding-left: 0;
    @include box-sizing(border-box);
  }

  .well {
    padding: $default-margin * 2;
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
  }
}

#dojos {
  .dojo {
    position: relative;
    margin-top: $default-margin;
    width: 100%;

    .dojo-link {
      position: absolute;
      left: 0;
      right: 40px;
      text-align: left;
      font-weight: bold;
      overflow: hidden;
      white-space: nowrap;
    }

    .hide-dojo {
      width: 40px;
      padding: 4px 0px;
      float: right;
    }

    .btn {
      color: $primary-color;
      background-color: $primary-bg;
      text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    }

    &.success .btn {
      color: $success-color;
      background-color: $success-bg;
    }

    &.warning .btn {
      color: $warning-color;
      background-color: $warning-bg;
    }

    &.error .btn {
      color: $error-color;
      background-color: $error-bg;
    }
  }

  .dojo:after {
    content: "";
    clear: both;
    display: block;
  }
}

@media screen and (min-width : 660px) {
  body {
    width: 640px;
    margin: 0 auto;
  }

  #ad,
  #config,
  #buttons,
  #dojos {
    width: 306px;
  }

  #info,
  #versionedInfo,
  #birthday {
    width: 276px;
  }

  #toast {
    width: 480px;
    margin-left: auto;
    margin-right: auto;
  }

  #config {
    display: block;
    position: static;
  }

  #config .close,
  #openConfig {
      display: none;
  }

  #dojos {
    position: absolute;
    top: 0;
    left: 50%;
  }
}
